# source:aliyun
# -i http://mirrors.aliyun.com/pypi/simple/
# --trusted-host mirrors.aliyun.com

# DRL env
gym

# ML framework
torch

# data handling
numpy

# plot/simulation
matplotlib==3.2.2  #兼容backtrader ImportError

# profiling

# backtesting 
backtrader

# data src
akshare
easyquotation

