# source:aliyun
# -i http://mirrors.aliyun.com/pypi/simple/
# --trusted-host mirrors.aliyun.com

# DRL env
gym

# ML framework
torch

# data handling
pandas
#numpy

# backtesting 
backtrader

# plot/simulation
matplotlib==3.2.2  #兼容backtrader ImportError

# profiling
quantstats
#pyfolio

# data src
akshare
# 实时行情 sina/tencent  集思录etf[optional]
easyquotation
# 通达信[optional]
mootdx
